p, li, .description{
 font-weight: 400;
 line-height: 1.8rem;
}
 
.sidebar-collapse .navbar-collapse::before{
    background: linear-gradient(#b2a37d,#131313 80%);
}

.bg-primary{
    background: #b2a37d !important;
}
/*
.brand{
    animation-name: fadeIn;
    animation-duration: 5.1s;
}
*/
.brand .h1-seo{
    font-size: 3.2rem;
    margin-bottom: .5rem;
}

.brand h3{
    margin: 0;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    25%  {opacity: .25;}
    50%  {opacity: .50;}
    100% {opacity: 1;}
}

.paddingTop{
    padding-top: 2rem;
}

.black{
    color: #000;
}
.gold, .gold-background, .category{
    color: #b2a37d !important;
}

.filter-color{
    background: linear-gradient(0deg,rgba(44,44,44,.2),rgba(0,0,0,.8));
}

.footer{
    background: #131313;
    color: #fff;
}

.thanks .wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
